<%= form_with(model: [post,comment]) do |f|%>
<% if current_user %>
<div class= "form-control">
<%= f.rich_text_area :body%>
<%= f.submit t(:submit_comment) , class: "btn btn-success btn-block btn-lg  "%>
</div>
<%end%>
<% end%>