<div class = "container">
  <div class = "jumbotron">
    <h1><%= t(:about_blog)%></h1>
    <p><%=t(:description)%></p>
    <%=link_to t('home'), root_path, class:"btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
  </div>
</div>