
<div id="<%= dom_id category %>">
 
  <% target= action_name.eql?("show")? categories_path : category %>
  <div  class="card-body mb-5 col-md-12 text-center" class="row justify-content-md-center">
  <%=link_to category.name.capitalize, target, class:" btn btn-outline-secondary btn-block btn-lg gradient-custom-4 w-50" %>
  </div>
  
<% category.posts.includes(:user, :rich_text_body).each do |post| %>
 <%= render 'posts/post', post: post %>
<%end%>

</div>

