<section class="vh-100 bg-image"
  style="background-color: CadetBlue">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-15 col-md-15 col-lg-17 col-xl-26">
          <div class="card" style="border-radius: 15px;">
            


<h2 class="text-uppercase text-center mb-5"><%= t("categories") %></h2>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    
  <% end %>
  <%= pagy_bootstrap_nav(@pagy).html_safe%>
</div>
</div>
</div>
</div>
  </div>
  </div>
</section>

