<section class="vh-100 bg-image"
  style="background-color: CadetBlue">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-15 col-md-10 col-lg-15 col-xl-20">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
           

    <div class="card-body">
<h1 class="text-uppercase text-center mb-5">Editing place</h1>

<%= render "form", place: @place %>

<br>

<div>
  <%= link_to "Show this place", @place, class: "btn btn-outline-success btn-block btn-lg gradient-custom-4 " %> 
  <%= link_to t("Back_to_adresses"), user_places_path(@place.user), class: "btn btn-outline-secondary btn-block btn-lg gradient-custom-4 "%>
</div>
</div>
 </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>